git+https://github.com/cityofaustin/mds-provider-client.git@dev#egg=mds_provider_client
git+https://github.com/cityofaustin/transportation-data-utils.git@master#egg=tdutils
arrow
pypgrest
pytz
requests
rtree
shapely
wheel